body>h1{
    color:brown;
}
body>h2{
    color: aqua;
    font-size: 30px;

}
.paragraph,.hmm{
    color: greenyellow;
}
.paragraph,.hmm{
    font-size: x-large;
}

body>h1{
    font-style:italic
}
.paragraph,.hmm{
    font-style:italic
}
h3+p{ 
    font-size: 26px;
}
p:hover{ font-size: xx-large;
}
h1:hover{font-size: xx-small;}

h3:active{font-size: xx-large;}